@import './base-tailwind.css';

.alias-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.question-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.number-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.operator-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
}

.guess-container {
    border: solid 2px;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bold;
    width: 70px;
}

.result-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: xx-large;
}

.attempts-table-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}