body {
    font-family: Open Sans, sans-serif;
    background-color: #f9f9f9;
    color: #333333;
    text-align: center;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    color: #3498db;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 14px;
  }
  
  button {
    background-color: #3498db;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  label {
    color: #333333;
    margin-bottom: 10px;
  }
  
  input {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  nav {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #cccccc;
  }