body {
    font-family: Open Sans, sans-serif;
    background-color: #f9f9f9;
    color: #333333;
    text-align: center;
  }

  
  header {
    font-size: 34px;
    font-weight: bold;
    color: #3498db;
  }

  h1, h2, h3 {
    font-weight: bold;
    color: #3498db;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 14px;
  }
  
  button {
    background-color: #3498db;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  label {
    color: #333333;
    margin-bottom: 10px;
  }
  
  input {
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  nav {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #cccccc;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin: 40px auto;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: left;
  }

  th {
    background-color: #3498db;
    color: #ffffff;
  }

  td {
    background-color: #f9f9f9;
  }

  td:nth-child(2) {
    text-align: center;
  }

  td:nth-child(3) {
    text-align: center;
    color: #666666;
  }

  .hidden {
    display: none;
  }

  .challenge {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
  }

  .form {
    font-size: large;
  }